<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <a ng-click="$hide()" class="pull-right">close <i class="fa fa-times"></i></a>
        <img class="center-block" ng-src="{{c.images[c.index].src}}" style="width:100%;" />
        <a ng-click="c.next()"><i class="fa fa-angle-left"></i> prev</a>
        <a ng-click="c.prev()" class="pull-right">next <i class="fa fa-angle-right"></i></a>
      </div>
    </div>
  </div>
</div>
