<div ng-include="'partials/admin/userstat.html'"></div>
<br/>
<div ng-controller="EventCtrl as c">
  <div>
    <div class="form-group">
      <div><a ui-sref="admin" class="bbg_red"><h4><li class="fa fa-arrow-circle-o-left fa-2x" /> Back to Admin </h4></a></div>
      <h2 class="bbg_blue">
        <i class="fa fa-car"></i>
        Events
        <div class="pull-right">
          <button type="button" class="btn btn-primary" data-animation="am-flip-x" bs-dropdown aria-haspopup="true" aria-expanded="false">{{ c.active[c.selActive] }} <i class="fa fa-chevron-down"></i></button>
          <ul class="dropdown-menu" role="menu">
            <li ng-repeat="i in c.active"><a ng-click="c.selectActive($index)"><i class="fa fa-chevron-right"></i>&nbsp;{{i}}</a></li>
          </ul>

          <button type="button" class="btn btn-primary" data-animation="am-flip-x" bs-dropdown aria-haspopup="true" aria-expanded="false"> {{ c.TranslationService.label(c.selLang) }} <i class="fa fa-chevron-down"></i></button>
          <ul class="dropdown-menu" role="menu">
            <li ng-repeat="i in c.languages"><a ng-click="c.selectLanguage($index)"><i class="fa fa-chevron-right"></i>&nbsp;{{ c.TranslationService.label(i) }}</a></li>
          </ul>
          <a ui-sref="admin-events-new" class="btn btn-primary" id="btn_article_create">Add Event</a>
        </div>
      </h2>
      <hr>
    </div>
    <div class="form-group">
      <input class="form-control" type="text" ng-model="searchText" placeholder="Type here to filter Events...">
      <hr>
    </div>

    <table id="event_list" class="table table-striped">
      <thead>
      <tr>
        <th>Title</th>
        <th>Update Time</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="event in c._objs | filter:searchText">
        <td>
          {{ event.title }}
        </td>
        <td>
          {{ event.updateDate | date: 'short'}}
        </td>
        <td>
          <div class="pull-right">
            <a ui-sref="admin-events-new({id: event.id})" class="btn btn-primary">Translate</a>
            <a ng-href="/#/admin/events/update/{{event.id}}" class="btn btn-success">Edit</a>
            <a ng-href="/#/admin/events/delete/{{event.id}}" class="btn btn-danger">Delete</a>
          </div>
        </td>
      </tr>
      <tr ng-hide="c._objs.length">
        <td colspan="3">
          <p class="text-center">No Events Found</p>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
