<div ng-include="'partials/admin/userstat.html'"></div>
<br/>
<div class="row" ng-controller="CreateArticleCtrl as cac">
   <form id="CreateArticleForm" name="CreateArticleForm" class="form-horizontal" role="form"
          ng-submit="cac.createArticle()">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">New Article</h3>
        </div>
        <div class="panel-body">

        <div class="form-group">
            <label id="lbl_title" for="title" class="col-sm-1 control-label">Title</label>

            <div class="col-sm-11">
                <input type="text" class="form-control" name="title" id="title" placeholder=""
                       ng-model="cac.article.title">
            </div>
        </div>

        <div class="form-group">
            <label id="lbl_text" class="col-sm-1 control-label">Text</label>

            <div class="col-sm-11">
                <text-angular ng-model="cac.article.content"></text-angular>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8 text-right">
                <a ui-sref="admin-articles" id="btn_cancel" class="btn btn-warning">Cancel</a>

                <button type="submit" class="btn btn-success" id="btn_create">Create Article</button>
            </div>
        </div>
          </div>
        </div>
    </form>
</div>
