<div ng-controller="ArticleCtrl as ac">
    <div>
        <div class="form-group">
            <div><a ui-sref="admin" class="bbg_red"><h4><li class="fa fa-arrow-circle-o-left fa-2x" /> Back to Admin </h4></a></div>
            <h2 class="bbg_blue">
                <i class="fa fa-newspaper-o"></i>
                Articles
                <a ui-sref="admin-articles-new" class="btn btn-primary pull-right" id="btn_article_create">Add Article</a>
            </h2>
            <hr>
        </div>
        <div class="form-group">
            <input class="form-control" type="text" ng-model="searchText" placeholder="Type here to filter Articles...">
            <hr>
        </div>


        <table id="article_list" class="table table-striped">
            <thead>
            <tr>
                <th>Title</th>
                <th>Update Time</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="article in ac.articles | filter:searchText">
                <td>
                    {{ article.title }}
                </td>
                <td>
                    {{ article.updateDate | date: 'short'}}
                </td>
                <td>
                    <a ng-href="/#/admin/articles/update/{{article.id}}" class="btn btn-success pull-right" id="btn_article_update">Edit</a>
                    <a ng-href="/#/admin/articles/delete/{{article.id}}" class="btn btn-danger pull-right" id="btn_article_delete">Delete</a>
                </td>
            </tr>
            <tr ng-hide="ac.articles.length">
                <td colspan="3">
                    <p class="text-center">No Articles Found</p>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="row">
            <div class="panel-group" role="tablist" aria-multiselectable="true" bs-collapse>
                <div class="panel panel-default" >
                    <div class="panel-heading" role="tab">
                        <h4 class="panel-title">
                            <a bs-collapse-toggle>
                                Debug JSON Data
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse" role="tabpanel" bs-collapse-target>
                        <div class="panel-body">
                            <pre>{{ ac.articles | json }}</pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
