<div ng-include="'partials/admin/userstat.html'"></div>
<div ng-controller="ArticleCtrl as ac">
    <div>
        <div class="form-group">
            <div><a ui-sref="admin" class="bbg_red"><h4><li class="fa fa-arrow-circle-o-left fa-2x" /> Back to Admin </h4></a></div>
            <h2 class="bbg_blue">
                <i class="fa fa-newspaper-o"></i>
                Articles
                <div class="pull-right">
                  <button type="button" class="btn btn-primary" data-animation="am-flip-x" bs-dropdown aria-haspopup="true" aria-expanded="false">{{ ac.active[ac.selActive] }} <i class="fa fa-chevron-down"></i></button>
                  <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="i in ac.active"><a ng-click="ac.selectActive($index)"><i class="fa fa-chevron-right"></i>&nbsp;{{i}}</a></li>
                  </ul>

                  <button type="button" class="btn btn-primary" data-animation="am-flip-x" bs-dropdown aria-haspopup="true" aria-expanded="false">{{ ac.languages[ac.selLang].label }} <i class="fa fa-chevron-down"></i></button>
                  <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="i in ac.languages"><a ng-click="ac.selectLanguage($index)"><i class="fa fa-chevron-right"></i>&nbsp;{{i.label}}</a></li>
                  </ul>
                  <a ui-sref="admin-articles-new" class="btn btn-primary" id="btn_article_create">Add Article</a>
                </div>
            </h2>
            <hr>
        </div>
        <div class="form-group">
            <input class="form-control" type="text" ng-model="searchText" placeholder="Type here to filter Articles...">
            <hr>
        </div>


        <table id="article_list" class="table table-striped">
            <thead>
            <tr>
                <th>Title</th>
                <th>Update Time</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="article in ac.articles | filter:searchText">
                <td>
                    {{ article.title }}
                </td>
                <td>
                    {{ article.updateDate | date: 'short'}}
                </td>
                <td>
                    <div class="pull-right">
                      <a ng-href="/#/admin/articles/delete/{{article.id}}" class="btn btn-danger" id="btn_article_delete">Delete</a>
                      <a ng-href="/#/admin/articles/update/{{article.id}}" class="btn btn-success" id="btn_article_update">Edit</a>
                    </div>
                </td>
            </tr>
            <tr ng-hide="ac.articles.length">
                <td colspan="3">
                    <p class="text-center">No Articles Found</p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
