<div ng-include="'partials/admin/userstat.html'"></div>
<br/>
<div ng-controller="UpdateArticleCtrl as c">
    <form id="UpdateArticleForm" name="UpdateArticleForm" class="form-horizontal" role="form"
          ng-submit="c.updateArticle()">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Update Article</h3>
        </div>
        <div class="panel-body">
        <div class="form-group">
            <label id="lbl_title" for="title" class="col-sm-1 control-label">Title</label>

            <div class="col-sm-11">
                <input type="text" class="form-control" name="title" id="title" placeholder=""
                       ng-model="c.article.title">
            </div>
        </div>

        <div class="form-group">
            <label id="lbl_text"  class="col-sm-1 control-label">Text</label>
            <div class="col-sm-11">
                <text-angular ng-model="c.article.content" ></text-angular>
            </div>
        </div>

        <div class="form-group">
            <label id="lbl_active" for="active" class="col-sm-1 control-label"
                   is-required="UpdateArticleForm.active">Active</label>

            <div class="col-sm-11">
              <select ng-model="c.article.active" name="active" id="active" class="form-control" ng-options="(item?'true':'false') for item in [true, false]">
              </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8 text-right">
                <a ui-sref="admin-articles" id="btn_cancel" class="btn btn-warning">Cancel</a>

                <button type="submit" class="btn btn-success" id="btn_create">Update Article</button>
            </div>
        </div>
          </div>
        </div>
    </form>
  <div ng-include="'partials/admin/articles/translations.html'"></div>
</div>


