<div class="row">
    <br/><br/>
</div>
<div class="row">
    <div class="col-md-4 bbg_blue bbg_fnt_aga">
        <p>Owning, using, and enjoying a classic car can be a very  special and rewarding past-time.</p>
        <br />
        <p>What started rather small, with a few “petrolhead” friends sharing their passion for classic vehicles and
            engineering, is up to grow to be a significant source of knowledge and  engaged group of enthusiasts.</p>
        <br />
        <p>Experiencing classic cars within an international community of like-minded enthusiasts, often rubbing
            shoulders with the pioneers and idols of historic motor racing, network of classic car enthusiasts
            throughout the world is testimony to an extraordinary development of <b>BBG Vintage Racing.</b></p>
    </div>
    <div class="col-md-8">
        <div class="row center-block">
            <div class="col-xs-4">
                <a ng-click="scrollTo('about-rcp')" ><img ng-src="images/about/service_1_RCP-16.png" class="img-responsive"></a>
            </div>
            <div class="col-xs-4">
                <a ng-click="scrollTo('about-education')"><img ng-src="images/about/service_2_education-16.png" class="img-responsive"></a>
            </div>
            <div class="col-xs-4">
                <a ng-click="scrollTo('about-beneficence')"><img ng-src="images/about/service_3_beneficence-16.png" class="img-responsive"></a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <br/><br/>
</div>

<div id="about-rcp" ng-include="'partials/about/rcp.html'"></div>
<div id="about-education" ng-include="'partials/about/education.html'"></div>
<div id="about-beneficence" ng-include="'partials/about/beneficence.html'"></div>


