<div class="row">
    <br/><br/>
</div>
<div class="row">
    <div class="col-md-4 bbg_blue bbg_fnt_aga">
        <p>{{ 'about.start.p1' | translate }}</p>
        <br />
        <p>{{ 'about.start.p2' | translate }}</p>
        <br />
        <p>{{ 'about.start.p3' | translate }}</p>
    </div>
    <div class="col-md-8">
        <div class="row center-block">
            <div class="col-xs-4">
                <a ng-click="scrollTo('about-rcp')" ><img ng-src="{{ 'about.start.rcp_img' | translate }}" class="img-responsive"></a>
            </div>
            <div class="col-xs-4">
                <a ng-click="scrollTo('about-education')"><img ng-src="{{ 'about.start.edu_img' | translate }}" class="img-responsive"></a>
            </div>
            <div class="col-xs-4">
                <a ng-click="scrollTo('about-beneficence')"><img ng-src="{{ 'about.start.ben_img' | translate }}" class="img-responsive"></a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <br/><br/>
</div>

<div id="about-rcp" ng-include="'partials/about/rcp.html'"></div>
<div id="about-education" ng-include="'partials/about/education.html'"></div>
<div id="about-beneficence" ng-include="'partials/about/beneficence.html'"></div>


