<!-- Beneficence  -->
<div>
    <div class="row">
        <br/><br/>
    </div>
    <div class="row">
        <div class="col-md-8">
            <img ng-src="images/about/benef/benef.png" class="img-responsive">
        </div>
        <div class="col-md-4 bbg_blue vcenter bbg_fnt_aga">
            <p>BBG is a strict nonprofit organization. Income and revenues out of activities are used for running costs of
                the organization. All gain is donated to scholar institutions dedicated to automotive history or selected
                charity organizations. <b>In addition to financial contribution into charity, we commit to volunteer for such
                    institutions and organizations.</b></p>
        </div>
    </div>
    <div class="row">
        <br/><br/>
    </div>
</div>
