<!-- Education -->
<div>
    <div class="row">
        <br/><br/>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <img ng-src="images/about/education/education.png" class="img-responsive">
        </div>
        <div class="col-sm-4 bbg_blue vcenter bbg_fnt_aga">
            <br />
            <p>Within the associates and members of our Club we have accumulated a huge knowledge about restoration and
                preservation of vehicles, as well as historic background on engineering and historic contexts of the last
                centennial of auto mobility.</p>
            <br />
            <p><b>We aim to share our knowledge and are keen to transfer this to next generations or persons willing to
                improve their knowledge.</b> Therefore we offer our skills for speeches at schools, clubs or other events.</p>

            <div><a ui-sref="about" class="bbg_fnt_md bbg_blue"><h4 class="text-right"><li class="fa fa-arrow-circle-o-left fa-2x" /> Back</h4></a></div>
        </div>
    </div>
</div>
