<!-- Education -->
<div>
    <div class="row">
        <br/><br/>
    </div>
    <div class="row">
        <div class="col-md-8 pull-right">
            <img ng-src="{{ 'about.edu.header_img' | translate }}" class="img-responsive">
        </div>
        <div class="col-md-4 bbg_blue vcenter bbg_fnt_aga">
            <p>{{ 'about.edu.p1' | translate }}</p>
            <br />
            <p><b>{{ 'about.edu.p2' | translate }}</b> {{ 'about.edu.p3' | translate }}</p>
        </div>
    </div>
</div>
