<div>
    <!-- RCP -->
    <div class="row">
        <br/>
    </div>

    <div class="row">
        <div class="col-md-8">
            <img ng-src="{{ 'about.rcp.header_img' | translate }}" class="img-responsive">
        </div>
        <div class="col-md-4 bbg_blue vcenter bbg_fnt_aga">
            <p><b>{{ 'about.rcp.p1' | translate }}</b></p>

            <p>{{ 'about.rcp.p2' | translate }}</p>

            <p>{{ 'about.rcp.p3' | translate }}</p>
        </div>
    </div>
    <div class="row">
        <br/><br/>
    </div>
</div>
