<div>
    <!-- RCP -->
    <div class="row">
        <br/>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <img ng-src="images/about/rcp/rcp.png" class="img-responsive">
        </div>
        <div class="col-sm-4 bbg_blue vcenter bbg_fnt_aga">
            <br />
            <p><b>We intend to share our passion to restore and preserve engineering history for next generations.</b></p>

            <p>The aim is more than restoring or conserve mechanical objects. Genius technical solutions, functional
                details and fantastic design, prove that historic vehicles were crafted by humans with love and engagement.
                We want to preserve the spirit of engineering and passion that creators of these vehicles developed at the time.</p>

            <p>Our members strongly commit to use and enjoy their vehicles, as they were intended to be used at the time.
                The spontaneous contact with historic vehicles brings often memories to mind of people and create lively
                discussions about the “good old times”. Often these talks generate bridges between generations as this
                topic offers a perfect platform for aged persons to describe, explain and share stories and emotions with
                younger generations.</p>

            <div><a ui-sref="about" class="bbg_red"><h5 class="text-right"><li class="fa fa-arrow-circle-o-left fa-2x" /> Back</h5></a></div>
        </div>
    </div>
    <div class="row">
        <br/><br/>
    </div>
</div>