<div class="row hidden-xs hidden-sm">
  <br/>
  <br/>
  <br/>
  <br/>
</div>
<div class="row">
  <div class="col-sm-9">
    <h1><i class="fa fa-facebook-official"></i></h1>
    <div class="row">
      <div class="col-sm-8 panel panel-default bbg_bg_red" >
        <div class="panel-body">
            <div class="row">
              <img class="col-sm-4 img-responsive" ng-src="images/contact/Call-02.png">
            </div>
            <div class="row text-center">
              <h2 class="bbg_fnt_md bbg_white">ROBERTO BERNASCONI</h2>
              <h4 class="bbg_white">bbgvintageracing@gmail.com</h4>
            </div>
            <div class="row text-center">
              <a href="https://www.facebook.com/BBGVintageRacing/?ref=hl" target="_blank" class="bbg_social"><i class="fa fa-facebook-square fa-4x"></i></a>
              <a href="https://www.instagram.com/bbgvintageracing" target="_blank" class="bbg_social"><i class="fa fa-instagram fa-4x"></i></a>
              <a href="https://twitter.com/BBGVintageR" target="_blank" class="bbg_social"><i class="fa fa-twitter-square fa-4x"></i></a>
              <a href="https://www.youtube.com/channel/UCiZfrOqb8o5QviA3JryjRDA" target="_blank" class="bbg_social"><i class="fa fa-youtube fa-4x"></i></a>
            </div>
          </div>
        </div>
    </div>
    <div class="row">
      <h1 class="text-center bbg_blue bbg_fnt_md">EVERY CLASSIC CAR HAS A SOUL,
        <span class="bbg_red bbg_fnt_ch" >it's up to us to bring it to life</span></h1>
    </div>
  </div>
  <div class="col-sm-3">
    <img ng-src="images/contact/Contact-02.png" class="img-responsive">
  </div>
</div>
